[submodule "Web-Scraping"]
	path = Web-Scraping
	url = git@github.com:avamirm/Web-Scraping.git
[submodule "implementation-of-some-tools-for-statistical-analysis"]
	path = implementation-of-some-tools-for-statistical-analysis
	url = git@github.com:avamirm/implementation-of-some-tools-for-statistical-analysis.git
[submodule "EDA-techniques"]
	path = EDA-techniques
	url = git@github.com:avamirm/EDA-techniques.git
[submodule "Investigation-Using-PySpark"]
	path = Investigation-Using-PySpark
	url = git@github.com:avamirm/Investigation-Using-PySpark.git
[submodule "Regression-Analysis-Using-Diabetes-Dataset"]
	path = Regression-Analysis-Using-Diabetes-Dataset
	url = git@github.com:avamirm/Regression-Analysis-Using-Diabetes-Dataset.git
